extends layout

block content
    doctype html
    html
        head
            title All Medicos
            a(href="/read")
                h1.titulo_inicial Consultar Dados / Consultar Médico
        body
            h1 Todos os Médicos
            each medico in medicos
                h2
                    a(href='/medicos/' + medico.id_medico) #{medico.nome} #{medico.apelido}
                p Medico ID: #{medico.id_medico}
                p Age: #{medico.idade}
                p Sex: #{medico.sexo}
                p Location: #{medico.localidade}
                p Email: #{medico.email}
                p Especialidade: #{medico.especialidade_nome}
                hr
