doctype html
html
    head
        title All Medicos
    body
        h1 All Medicos
        each medico in medicos
            h2= medico.nome + ' ' + medico.apelido
            p ID: #{medico._id}
            p Medico ID: #{medico.id_medico}
            p Age: #{medico.idade}
            p Sex: #{medico.sexo}
            p Location: #{medico.localidade}
            p Email: #{medico.email}
            p Specialty ID: #{medico.especialidade_id}
            hr
