doctype html
html
    head
        title All Utentes
    body
        h1 All Utentes
        each utente in utentes
            h2
                a(href='/utentes/' + utente.id_utente) #{utente.nome} #{utente.apelido}
            p ID: #{utente._id}
            p utente ID: #{utente.id_utente}
            p Age: #{utente.idade}
            p Sex: #{utente.sexo}
            p Location: #{utente.localidade}
            p Email: #{utente.email}
            p Health ID: #{utente.numsaude}
            hr